<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" />
  </configSections>

  <policyInjection>
    <policies>
      <add name="save">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Member Name Matching Rule">
            <matches>
              <add match="Save*" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Type Matching Rule">
            <matches>
              <add match="Tests.Nega.Entlib.InterceptableObj" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add type="Nega.Entlib.TransactionCallHandler, Nega.Entlib" name="Transaction Call Handler"></add>
        </handlers>
      </add>
      <add name="update">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Member Name Matching Rule">
            <matches>
              <add match="Update*" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Type Matching Rule">
            <matches>
              <add match="Tests.Nega.Entlib.InterceptableObj" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add type="Nega.Entlib.TransactionCallHandler, Nega.Entlib" name="Transaction Call Handler"></add>
        </handlers>
      </add>
      <add name="save2">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" 
               name="Member Name Matching Rule">
            <matches>
              <add match="Save*" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" 
               name="Type Matching Rule">
            <matches>
              <add match="Tests.Nega.Entlib.InterceptableObj2" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add type="Nega.Entlib.TransactionCallHandler, Nega.Entlib" name="Transaction Call Handler"></add>
        </handlers>
      </add>
    </policies>
  </policyInjection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>